@media screen and (min-width: 1200px) {
.slider-conv-img>li>img{
   width:652px;
   height: 434px;
}
.slider-preview-img>li>img{
    width: 108px;
    height: 72px;
}

main{
    display:flex;
    justify-content: center;
}
.swiper{
    max-width: 652px;
    height: 434px;
    border: 1px solid #ECF2F3;
    border-radius: 8px;

  }



.details-global-container{
    margin-left:44px;
}
.main-slogan-mob{
    display:none;
}
h1.main-slogan-pc{
    display:block;
    margin:0px 0px 40px 0px;
    font-size: 40px;
}
.header{
    max-width: 1920px;
    margin: 0 auto;
}
.header-position-container{
    max-width: 1920px;
    margin: 0 auto;
}
.header-content{
    margin-left:0;
    margin-bottom:48px;
}
.header-content li {
    margin-bottom: 0px; 
  }
.home{
    margin-bottom: 0px;
}
/* ------Ordering---- */
.ordering{
    width:316px;
    margin:0px 44px 0px 0px;
}
.belt-width{
    gap: 12px;
}
.btn-width{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 14px 11px 18px;
    width: 48px;
    height: 32px;
    border-radius: 4px;
}
.belt-width li:last-child .btn-width {
padding: 11px 16px;
gap: 10px;
width: 108px;
}
.bed-section-title{
   gap:8px;
   margin-bottom: 32px;
  }
  /* ------order-result-------- */
  .order-result{
    width: 304px;
  }
  .order-details{
    margin: 24px 20px 24px 20px;
  }
  .order-type{
    padding: 0px 0px 12px 0px;
  }

  .bottom-buttons {
   flex-direction: column;
}
.btn-upon-req{
    width: 125px;
    font-family: inherit;
}
.fin-price_pc{
    display:block;
    width: 264px;
    /* margin-bottom: 24px; */
    font-family: 'SF Pro Text', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: var(--light-grey-color);
   }
  .btn-request{
    width: 264px;
    margin: 24px 0px 24px 0px;
  }
  .amount{
    width: 144px;
  }

  .fin-price_mob{
    display:none;

  }
  .text-hidden {
    display: block;
}
.price-details{
    padding-bottom: 0px;
  }
.conveyor-belt-title{
    display:flex;
    gap:8px;
    margin-top:12px;
}
.is-hidden{
    display:none;
}
.length-result{
    width:64px;
}
.position-container{
    display:flex;
}
.check-form{
  display:block;  
}
#fav,
.pc-hidden{
    display:none;
}
.header-content{
    max-width:364px;
    margin-left: 14.5%;
}
.order-rating{
    width: 264px;
}
.order-stars{
    gap: 20px;
}
#price{
    font-weight: 700;
}

.counter-price{
      gap: 16px;
  }



}